.preview-link {
  max-width: 600px;
  display: block;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
  color: inherit;
}
.preview-link .keterangan {
  padding: 10px;
}
.preview-link * {
  display: block;
}
.preview-link .judul {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}
.preview-link .deskripsi {
  color: gray;
  font-size: 12px;
}
.preview-link img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}